<h1>HARRY POTTER CHARACTER FACT FILES</h1>
<p>Want to learn more about Harry Potter?</p>
 <p>Tap the character button to read about a character of your choice!</p>
 	<p> If you wish to create one go ahead!</p>
